<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="./stylesheets/formsadmin.css">
</head>

<body>
  <header>
    <%- include('./partials/nav') %>
  </header>
  <main>
    <h1 class="admin-panel">Admin Panel</h1>
    <section>
      <div class="admin-menu">
        <div class="admin-card">
          <a href="formsadmin"><button type="submit" class="btn-forms"><i class="fas fa-plus"></i> Nuevo
              Producto</button></a>
        </div>
        <div class="admin-card">
          <form action="/adminpanel" method="get">
            <div class="select-search">
              <select name='categorySelection' id="categorySelection" class="form-select"
                aria-label="Default select example">
                <option selected>Categoria</option>
                <% categories.forEach(function(category){ %>
                  <option value="<%- category %>">
                    <%- category %>
                  </option>
                  <% }); %>
              </select>
              <button type="submit" class="btn-forms btn-search">Buscar</button>
            </div>
          </form>
        </div>

      </div>
    </section>
    <section>
      <div class="admin-product-container">

        <% products.forEach(function(product){ %>
          <%- include('partials/tableProduct', {product: product}) %>
            <% }); %>
      </div>
    </section>
  </main>
  <%- include('./partials/footer') %>

</body>

</html>