<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/formslogin.css" />
</head>

<body>
    <header>
        <% if (typeof user != 'undefined') { %>
            <%- include('./partials/nav', { user: user }) %>
        <% } else { %>
            <%- include('./partials/nav', { user: false }) %>
        <% } %>
    </header>
    <main>
        <% if(locals.errors && errors.email) { %>
            <div class="registered-banner">
                <%= errors.email.msg  %>
            </div>
            <%  } %>
            <% if(locals.registered) { %>
                <div class="registered-banner">
                    Gracias por registrarse! Ingrese con su usuario y contraseña.
                </div>
                <% } %>
                
                <div class="hero">
                    <div class="form-box">
                        <div class="button-box">
                            <div class="btn-login"></div>
                            <button type="button" class="toggle-btn">Iniciar Sesion</button>
                            <a href="/user/register"><button type="button" class="toggle-btn">Registro</button></a>
                        </div>
                        <form method="POST" id="login" action="/user/login" class="input-group input-login">
                            <div class="login-inputs">
                                <label for="email"></label>
                                <input name="email" type="email" class="input-field input-field-login" placeholder="Email" required />
                                <label for="password"></label>
                                <input name="password" type="password" class="input-field input-field-login" placeholder="Contraseña" required />
                                <input type="checkbox" class="check-box" name="remember" />
                                <span class="form-span">Recordar Usuario</span>
                                <button type="submit" class="submit-btn">Iniciar Sesion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>