<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/formslogin.css" />
</head>

<body>
    <header>
        <% if (typeof user !='undefined' ) { %>
            <%- include('./partials/nav', { user: user }) %>
                <% } else { %>
                    <%- include('./partials/nav', { user: false }) %>
                        <% } %>
    </header>
    <main>
        <% if(typeof errors !='undefined' ) { %>
            <div class="registered-banner">
                <%= errors.email.msg %>
            </div>
            <% } %>

                <% if(typeof validations !='undefined' ) { %>
                    <% validations.forEach((validation)=> { %>
                        <div class="registered-banner">
                            <ul>
                                <li>
                                    <%= validation.msg %>
                                </li>
                            </ul>
                        </div>
                        <% }) %>
                            <% } %>
                                <div class="hero">
                                    <div class="form-box">
                                        <div class="button-box">
                                            <div class="btn-register"></div>
                                            <a href="/user/login"><button type="button" class="toggle-btn">Iniciar
                                                    Sesion</button></a>
                                            <button type="button" class="toggle-btn">Registro</button>
                                        </div>
                                        <div class="social-icons">
                                            <img src="/images/formslogin/fb.png" alt="facebook-icon"/>
                                            <img src="/images/formslogin/tw.png" alt="twitter-icon"/>
                                            <img src="/images/formslogin/gp.png" alt="google-icon"/>
                                        </div>

                                    <!-- FORM-->
                                        <form action="/user/register" method="POST" class="input-group input-register" id="register"
                                            autocomplete="on" enctype="multipart/form-data">

                                            <label for="name"></label>
                                            <input type="text" name="fullname" class="input-field input-field-register" placeholder="Nombre Completo" />

                                            <label for="userAddress"></label>
                                            <input type="text" name="userAddress" class="input-field input-field-register" placeholder="Direccion"/>
                                            
                                            <label for="city"></label>
                                            <input type="text" name="city" class="input-field input-field-register" placeholder="Ciudad"/>
                                            
                                            <label for="email"></label>
                                            <input type="email" name="email" class="input-field input-field-register" placeholder=" Email" />

                                            <label for="password"></label>
                                            <input name="password" type="password" nametype="password" class="input-field input-field-register" placeholder="Contraseña" />

                                            <div class="input-field">
                                                <label for="avatar"> <i class="fas fa-plus"></i>Imagen de Perfil</label>
                                                <input type="file" clas id="avatar" name="avatar" accept="image/png, image/jpeg , image/jgp ">
                                            </div>

                                            <input id="accept" name="accept" type="checkbox" class="check-box" />
                                            <a class="to-terms" href="/terms "><span class="form-span ">Acepto terminos y condiciones</span></a>
                                            <button type="submit " class="submit-btn ">Registrarse</button>
                                        </form>
                                    </div>
                                </div>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>