<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/formslogin.css" />
</head>

<body>
    <header>
        <% if (typeof user != 'undefined') { %>
            <%- include('./partials/nav', { user: user }) %>
        <% } else { %>
            <%- include('./partials/nav', { user: false }) %>
        <% } %>
    </header>
    <main>
        <% if(locals.errors && errors.email) { %>
            <div class="registered-banner">
                <%= errors.email.msg  %>
            </div>
            <%  } %>
            <% if(locals.registered) { %>
                <div class="registered-banner">
                    Gracias por registrarse! Ingrese con su usuario y contraseña.
                </div>
                <% } %>
                
                <div class="hero">
                    <div class="form-box">
                        <div class="button-box">
                            <div class="btn-login"></div>
                            <button type="button" class="toggle-btn">Iniciar Sesion</button>
                            <a href="/user/register"><button type="button" class="toggle-btn">Registro</button></a>
                        </div>
                        <div class="social-icons">
                            <img src="/images/formslogin/fb.png" alt="facebook-icon" />
                            <img src="/images/formslogin/tw.png" alt="twitter-icon" />
                            <img src="/images/formslogin/gp.png" alt="google-icon" />
                        </div>
                        <form method="POST" id="login" action="/user/login" class="input-group input-login">
                            <div class="grupo__email">
                                <div class="grupo__inputs">
                                    <input type="email" name="email" class="input-field input-field-register" placeholder=" Email" id="email" autocomplete="off"/>
                                    <i id="inputcheck" class="fas fa-check-circle"></i>
                                </div>
                                <small id="input-error-email" class="input-error">Tu mail debe tener un formato valido!</small>
                            </div>
                            <div class="grupo__password">
                                <div class="grupo__inputs">
                                    <input name="password" type="password" nametype="password" class="input-field input-field-register" placeholder="Contraseña" id="password" autocomplete="off"/>
                                    <i id="inputcheck" class="fas fa-check-circle"></i>
                                </div>
                                <small id="input-error-password" class="input-error">Tu constraseña es obligatoria!.</small>
                            </div>
                            <input type="checkbox" class="check-box" name="remember" />
                            <span class="form-span">Recordar Usuario</span>
                            <button type="submit" class="submit-btn">Iniciar Sesion</button>

                            <div class="formulario__mensaje-error" id="formulario__mensaje-error">
                                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                            </div>

                            <div class="formulario__grupo-enviado">
                                <p class="formulario__mensaje-exito" style="display: none" id="formulario__mensaje-exito">Bienvenido!</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/formlogin.js"></script>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>