<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/formslogin.css" />
        <script src="https://kit.fontawesome.com/eece933466.js" crossorigin="anonymous"></script>
        
</head>

<body>
    <header>
        <% if (typeof user !='undefined' ) { %>
            <%- include('./partials/nav', { user: user }) %>
                <% } else { %>
                    <%- include('./partials/nav', { user: false }) %>
                        <% } %>
    </header>
    <main>
        <% if(typeof errors !='undefined' ) { %>
            <div class="registered-banner">
                <%= errors.email.msg %>
            </div>
            <% } %>

                <% if(typeof validations !='undefined' ) { %>
                    <% validations.forEach((validation)=> { %>
                        <div class="registered-banner">
                            <ul>
                                <li>
                                    <%= validation.msg %>
                                </li>
                            </ul>
                        </div>
                        <% }) %>
                            <% } %>
                                <div class="hero">
                                    <div class="form-box">
                                        <div class="button-box">
                                            <div class="btn-register"></div>
                                            <a href="/user/login"><button type="button" class="toggle-btn">Iniciar
                                                    Sesion</button></a>
                                            <button type="button" class="toggle-btn">Registro</button>
                                        </div>
                                        <div>
                                            <form action="/user/register" method="POST" class="input-group input-register" id="register" autocomplete="off" enctype="multipart/form-data" autocomplete="off">
                                                <div class="grupo__fullname">
                                                    <div class="grupo__inputs">
                                                        <input type="text" name="fullname" class="input-field input-field-register" placeholder="Nombre Completo" id="fullname" autocomplete="off"/>
                                                        <i id="inputcheck" class="fas fa-check-circle"></i>
                                                    </div>
                                                    <small id="input-error-fullname" class="input-error">Campo Obligatorio, minimo 2 caracteres</small>
                                                </div>
                                                
                                                <div class="grupo__userAddress">
                                                    <div class="grupo__inputs">
                                                        <input type="text" name="userAddress" class="input-field input-field-register" placeholder="Direccion" id="userAddress" autocomplete="off"/>
                                                        <i id="inputcheck" class="fas fa-check-circle"></i>
                                                    </div>
                                                    <small id="input-error-userAddress" class="input-error">Campo obligatorio</small>
                                                </div>
                                                
                                                <div class="grupo__city">
                                                    <div class="grupo__inputs">
                                                        <input type="text" name="city" class="input-field input-field-register" placeholder="Ciudad" id="city" autocomplete="off"/>
                                                        <i id="inputcheck" class="fas fa-check-circle"></i>
                                                    </div>
                                                    <small id="input-error-city" class="input-error">Capo obligatorio, ingrese una localidad valida!</small>
                                                </div>
                                                
                                                <div class="grupo__email">
                                                    <div class="grupo__inputs">
                                                        <input type="email" name="email" class="input-field input-field-register" placeholder=" Email" id="email" autocomplete="off"/>
                                                        <i id="inputcheck" class="fas fa-check-circle"></i>
                                                    </div>
                                                    <small id="input-error-email" class="input-error">Tu mail debe tener un formato valido!</small>
                                                </div>
                                                
                                                <div class="grupo__password">
                                                    <div class="grupo__inputs">
                                                        <input name="password" type="password" nametype="password" class="input-field input-field-register" placeholder="Contraseña" id="password" autocomplete="off"/>
                                                        <i id="inputcheck" class="fas fa-check-circle"></i>
                                                    </div>
                                                    <small id="input-error-password" class="input-error">Tu constraseña es obligatorio y debe tener 8 caracteres como minimo.</small>
                                                </div>

                                                <div class="grupo__avatar input-field">
                                                    <label for="avatar"> <i class="fas fa-plus"></i>Imagen de Perfil</label>
                                                    <div class="grupo__inputs">
                                                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg , image/jgp ">
                                                        <i id="inputcheck" class="fas fa-check-circle"></i>
                                                    </div>
                                                    <small id="input-error-avatar" class="input-error">el archivo debe ser JPG, JPEG, PNG, GIF.</small>
                                                </div>
                                                
                                                <div>
                                                <input id="accept" name="accept" type="checkbox" class="check-box" />
                                                <a class="to-terms" href="/terms "><span class="form-span ">Acepto terminos y condiciones</span></a>
                                                
                                                </div>
                                                
                                                <button type="submit " class="submit-btn ">Registrarse</button>
                                                    

                                                <div class="formulario__mensaje-error-terminos" id="formulario__mensaje-error">
                                                    <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor acepta los terminos y condiciones. </p>
                                                </div>
                                                
                                                <div class="formulario__mensaje-error" id="formulario__mensaje-error">
                                                    <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                                                </div>

                                                <div class="formulario__grupo-enviado">
                                                    <p class="formulario__mensaje-exito" style="display: none" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                                                </div>
                                            </form>
                                        </div>
                                    <!-- FORM-->
                                        
                                    </div>
                                </div>
    </main>
    <script src="/js/formregister.js"></script>
    
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>