<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="/stylesheets/product.css">
</head>
<body>
  <header>
    <%- include('./partials/nav') %> 
  </header>
  <main>
    <section class="product-container">
      <div class = "product-card-wrapper">
        <div class = "product-card">
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img src = "<%- product.img %> " alt = "<%- product.img %> ">
              </div>
            </div>
            <div class = "img-select">
              <div class = "img-item">
                <img src = "<%- product.img %> " alt = "<%- product.img %> ">
              </div>
              <div class = "img-item">
                <img src = "<%- product.img %> " alt = "<%- product.img %> ">
              </div>
            </div>
          </div>
          
          <div class = "product-content">
            <h2 class = "product-title"> <%- product.name %> </h2>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
            </div>
            <div class = "product-price">
              <p class = "price">Precio: <span>$ <%- product.price %> </span></p>
            </div>
            <div class = "product-detail">
              <h2>Mas Informacion: </h2>
              <p> <%- product.description %> </p>
              <ul class="detail-icons">
                <li> <i class="fas fa-bread-slice"></i>Contiene Tacc:<span> Si</span></li>
                <li><i class="fas fa-check-circle"></i></i>Disponibilidad: <span>En stock</span></li>
                <li><i class="fas fa-cookie"></i>Categoria: <span>Cookies</span></li>
                <li><i class="fas fa-shopping-bag"></i></i>Retiro en tienda: <span>Si</span></li>
                <li><i class="fas fa-truck"></i>Envio:<span>Sin cargo desde $2500</span></li>
              </ul>
            </div>
            <div class = "purchase-info">
              <input type = "number" min = "0" value = "1">
              <button type = "button" class = "btn cart">
                Agregar al Carro <i class = "fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('./partials/footer') %> 
</body>
</html>