<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/product.css">
</head>
<body>
    <header>
        <%- include('./partials/nav') %> 
    </header>
    <main>
        <section class="product-container">
            <div class = "product-card-wrapper">
                <div class = "product-card">
                    <div class = "product-imgs">
                        <div class = "img-display">
                            <div class = "img-showcase">
                                <img src = "<%- product.img %> " alt = "<%- product.name %> ">
                            </div>
                        </div>
                    </div>          
                    <div class = "product-content">
                        <form action="">
                            <h2 class = "product-title"> Editar Producto </h2>
                            <div class = "product-detail">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input class="form-control" id="name" type="text" name="name" value="<%= product.name %> placeholder"<%= product.name %>">
                                  </div>
                                  <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" type="email" name="Email">
                                  </div>
                                  <input class="btn" type="submit" value="Submit" />
                                  </div>
                                <label >Nombre</label>
                                <input type="text" name="nombre" value="<%= product.name %> placeholder:"<%= product.name %>">
                            </div>
                            <div class = "product-price">
                                <p class = "price">Precio: <span>$ <%- product.price %> </span></p>
                            </div>
                            <div class = "product-detail">
                                <h2>Mas Informacion: </h2>
                                <p> <%- product.description %> </p>
                            </div>
                            <div class = "product-detail">
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Cambiar Imagen</label>
                                    <input type="file" name="img" class="form-control">
                                  </div>
                            </div>
                            <div class = "purchase-info">
                                <input type = "number" min = "0" value = "1">
                                <button type = "button" class = "btn cart">
                                  
                                </button>
                            </div>
                       </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>