<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="../stylesheets/style.css"> 
</head>
<body>
  <!--  Inicio de la NavBar -->
  <header>
    <%- include('./partials/nav') %> 
  </header>
  <main>
    
    <!--  Inicio de las tarjetas de producto -->
    
    <section>
      <div class="product-card-header">
        <h2 class="product-card-headerTitle">Donas</h2>
        <h4 class="product-card-headerSubtitle">Hechas con amor <i class="fas fa-heart"></i></h4>
      </div>
      <div class="Product-cards">
        <% let newArrayDonas = products.filter(item => item.category == "Donas");%>
        <% if(newArrayDonas.length==0){ %>
        <%- include('partials/productSinStock') %>
        <%}else{%>
        <% newArrayDonas.forEach(function(product){ %>
          <%- include('partials/product',{product: product}) %>
        <% });} %>
        </div>
      </section>
      <!-- Incio de la OfferBox-->
      <section>
        <div class="offerbox-box">
          <div class="offerbox-img"><img src="/images/offerbox-bg.png" alt=""></div>
          <div class="offerbox-text">
            <h2 class="offerbox-text-title">Box Donas</h2>
            <p class="offerbox-text-subtitle">Incluye: <br> </p>
            <p class="offerbox-text-paragraph">
              <i class="far fa-check-circle"></i> 6 Donas a eleccion tuya<br>
              <i class="far fa-check-circle"></i> Incluye una tarjeta de regalo<br>
              <i class="far fa-check-circle"></i> Envio 100% bonificado<br>
            </p>
            <div class="offerbox-text-btn">
              <a href="/product">Mas información</a>
            </div>
          </div>
        </div>
      </section> 
      
      <!--  Inicio del Testimonials  -->
      
      <section>
        <div class="testimonials">
          <% let shuffleTestimonials = (testimonials.sort((a, b) => 0.5 - Math.random())).slice(0, 3);%>
          <% shuffleTestimonials.forEach(function(testimonial){ %>
            <%- include('partials/testimonials',{testimonial: testimonial}) %>
            <% }); %>
          </div>
        </section>
      </main>
      
      <!-- Inicio del footer-->
      
      <%- include('./partials/footer') %> 
    </body>
    
    </html>